<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CPU Scheduling</title>
    <link rel="stylesheet" href="/css/style.css"> </head>
<body>
    <div class="container">
        <div class="dropdown-container">
            <form action="/" method="post">
            <select name="algorithm" id="dropdown" onchange="handleDropdownChange()">
                <option value="fcfs">First Come First Serve</option>
                <option value="sjf">Shortest Job First</option>
                <option value="srtf">Shortest Remaining Time First</option>
                <option value="np">Non-preemptive Priority</option>
                <option value="pp">Preemptive Priority</option>
                <option value="rr">Round Robin</option>
            </select>
            <select name="quantum_time" id="round_robin_dropdown" class="hidden"> 
                <% for (let i = 1; i <= 10; i++) { %>
                    <option value="<%= i %>">Qtime = <%= i %></option>
                <% } %>
            </select>
            <select name="priority_order" id="priority_dropdown" class="hidden">
              <option value="highest">Highest First</option>
              <option value="lowest">Lowest First</option>
            </select>
            <button type="submit" action="/process" method="post">Submit</button>
            </form>
        </div>

        <h2>Process Statistic Table</h2>
        <table class="table1">
            <thead>
                <tr>
                    <th>PName</th>
                    <th>Arrival</th>
                    <th>Burst</th>
                    <th>Priority</th>
                    <th>Response Time</th>
                    <th>Waiting Time</th>
                    <th>Turnaround Time</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < processes.processes.length; i++) { %>
                    <tr>
                        <td class="<%= processes.processes[i].name %>"><%= processes.processes[i].name %></td>
                        <td><%= processes.processes[i].arrive %></td>
                        <td><%= processes.processes[i].burst %></td>
                        <td><%= processes.processes[i].priority %></td>
                        <td><%= processes.processes[i].responseTime %></td>
                        <td><%= processes.processes[i].waitTime %></td>
                        <td><%= processes.processes[i].turnaroundTime %></td>
                    </tr>
                <% } %>
                <tr>
                    <td>Average</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td><%= processes.averageResponseTime %></td>
                    <td><%= processes.averageWaitTime %></td>
                    <td><%= processes.averageTurnaroundTime %></td>
                </tr>
            </tbody>
        </table>

        <h2>Gantt Chart</h2>
        <table class="table2">
            <tbody>
                <tr class="chart">
                  <td style="width: calc(100% / <%= gantt_chart.length + 1 %>); border: none"></td>
                  <% for (let i = 0; i < gantt_chart.length; i++) { %>
                    <td style="width: calc(100% / <%= gantt_chart.length + 1 %>); border: none"
                    class="<%= gantt_chart[i] %>"></td>
                  <% } %>
                </tr>
                <tr>
                  <% for (let i = 0; i <= gantt_chart.length; i++) { %>
                    <td style="width: calc(100% / <%= gantt_chart.length + 1 %>); border: none;
                    text-align: right"
                    ><%= i %></td>
                  <% } %>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        window.onload = function() {
            let algorithm = "<%= prev.algorithm %>"
            const dropdown = document.getElementById("dropdown");
            dropdown.value = algorithm;

            let quantumTime = "<%= prev.quantum_time %>"
            const rrDropdown = document.getElementById("round_robin_dropdown");
            rrDropdown.value = quantumTime;

            let priorityOrder = "<%= prev.priority_order %>"
            const priorityDropdown = document.getElementById("priority_dropdown");
            priorityDropdown.value = priorityOrder;

            handleDropdownChange();
        }
        
        function handleDropdownChange() {
            const selectedOption = document.getElementById("dropdown").value;
            const roundRobinDropdown = document.getElementById("round_robin_dropdown");
            if (selectedOption === "rr") {
                roundRobinDropdown.classList.remove("hidden");
            } else {
                roundRobinDropdown.classList.add("hidden");
            }
            const priorityDropdown = document.getElementById("priority_dropdown");
            if (selectedOption === "np" || selectedOption === "pp") {
                priorityDropdown.classList.remove("hidden");
            } else {
                priorityDropdown.classList.add("hidden");
            }
        }
    </script>
</body>
</html>
